.container{
  display: flex;
  flex-direction: row;
}


img{
  width: 60%;
  height: 100vh;
  border-right: 1px solid rgb(117, 117, 117);
}

.food-content{
  width: 40%;
height: 100vh;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
  position: relative;
  gap: 10px;
}
.material-symbols-outlined{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 50px;
  cursor: pointer;

}
.material-symbols-outlined:hover{
 color: rgb(66, 153, 224);

}

.desc{
  text-align: center;
}


