<div class="container">
  <div class="login-content">
    <div class="img-login">
    <img class="img-hamburguer" src="assets/imgs/hamburguer.png" alt="">
  </div>
    <form [formGroup]="form" class="form-content" (ngSubmit)="onSubmit()">
      <div class="box user">
        <label>Mesa</label>
        <input formControlName="mesa" type="text" placeholder="Mesa" required />
      </div>

      <div class="box password">
        <label>Senha</label>
        <input
          formControlName="password"
          type="password"
          placeholder="Senha"
          required
        />
      </div>

      <div class="btn-content">
        <button [disabled]="!form.valid" type="submit" class="btn">Entrar</button>
      </div>
    </form>
  </div>
</div>
