<div class="container" >
<div class="content" *ngFor="let items of orders">

    <div class="content-order">
      <h1>Mesa {{items.id}}</h1>
      <h3>Pedidos: {{items.name}} </h3>
      <h3>Quantidade total: {{items.quantity}}</h3>
      <h3>Valor total: {{items.valor.toFixed(2) | currency:'BRL':'symbol':'1.2-2'}}</h3>
    </div>

    <div class="buttons">
      <button class="finish-order">Finalizar Pedido</button>
      <button class="delete-order" (click)="deleteOrder(items.id)">Apagar Pedido</button>
    </div>


</div>

</div>
